<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link type="text/css" href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- JSGrid CSS -->
    <link href="css/jsgrid.css" rel="stylesheet" />
    <link href="css/jsgrid-theme.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link type="text/css" href="css/simple-sidebar.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet" />

     <!-- Jquery UI style -->
    <link type="text/css" href="js/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" media="all" />


    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery/jquery.js"></script>
    <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="js/jsgrid.js"></script>
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    Explore Database
                </a>
            </li>
            {%  if login_name  %}
                <li>
                    <a href="#">Hello, {{ login_name }}!</a>
                </li>
            {% endif %}
            {%  if login_name != 'guest' %}
                <li>
                    <a href="/employees">Employees</a>
                </li>
            {% endif %}
            <li>
                <a href="/orders">Orders</a>
            </li>
            {%  if login_name == 'admin' %}
                <li>
                    <a href="/users">Users</a>
                </li>
            {% endif %}
            <li>
                <a href="#">Customers</a>
            </li>
            <li>
                <a href="#">Offices</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Payments</a>
            </li>
            <li>
                <a href="/login">Log in</a>
            </li>
            {%  if login_name != 'guest' %}
                <li>
                    <a href="/logout">Log out</a>
                </li>
            {% endif %}

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" class="content">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>