{% extends 'default.twig' %}
{% block title %}Employees{% endblock %}
{% block content %}
    <h1>Employees table</h1>
    <div id="jsGrid"></div>
    <script src="js/employee.js"></script>
{% endblock %}