{% extends 'default.twig' %}
{% block title %}Log in{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form action="/login/post" method="post">
        Login: <br>
        <input type="text" name="login">
        <br><br>
        Password: <br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Log in" class="btn btn-primary">
        <br><br>
        {%  if login_name  %}
            You've been logged in as  {{ login_name }}
        {% endif %}
    </form>
{% endblock %}